<%- include('../../partials/headerAdmin.ejs'); %>
  <body>
    <div class="d-flex">
      <%- include('../../partials/sidebarAdmin.ejs'); %>
        <div class="w-100">
          <%- include('../../partials/navbarAdmin.ejs'); %>
          <div id="content">
             <selection class="py-3">
                <div class="container p-4">
                    <div class="py-4 row">
                        <div class="col-lg-12">
                            <h3 class="font-weight-bold">Editar Usuário</h3>
                        </div> 
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <form class="form-row" method="POST" action="/admin/usuarios/atualizar">
                                <input type="hidden" name="id" value="<%= usuario.id %>">
                                <div class="form-group col-md-4">
                                    <label>Nome</label>
                                    <input type="text" class="form-control" name="nomeUsuario" placeholder="Digite o nome completo" 
                                    value="<%= usuario.nome %>">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>E-mail</label>
                                    <input type="email" class="form-control" name="emailUsuario" placeholder="Digite o e-mail"  
                                    value="<%= usuario.email %>">
                                </div>
                                <div class="form-group col-md-4">
                                  <label>Data de Nascimento</label>
                                  <input type="date" class="form-control" name="dataNascimentoUsuario" 
                                  value="<%= usuario.dataNascimento %>">
                                </div>
                               <div class="form-group col-md-12" id="btn-reservar">
                                 <a href="/admin/usuarios" class="btn btn-primary">Voltar</a>  
                                 <button type="submit" class="btn btn-success">Atualizar</button>  
                               </div>
                             </form>
                        </div>
                    </div>
                </div>        
             </selection>
            <%- include('../../partials/footerAdmin.ejs'); %>
          </div>
        </div>
    </div>
  </body>