<%- include('../../partials/headerAdmin.ejs'); %>
  <body>
    <div class="d-flex">
      <%- include('../../partials/sidebarAdmin.ejs'); %>
        <div class="w-100">
          <%- include('../../partials/navbarAdmin.ejs'); %>
          <div id="content">
             <selection class="py-3">
                <div class="container">
                    <div class="py-4 row">
                        <div class="col-lg-12">
                            <h3 class="font-weight-bold">Cadastrar Usuário</h3>
                        </div> 
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <form class="form-row" method="POST" action="/usuarios/salvar">
                                <!--Exibir mensagem de erros c/ array-->
                                <div class="form-group col-md-12">
                                 <% if(typeof erros != 'undefined'){ %>
                                   <% erros.forEach(function(error) { %>
                                       <div class="alert alert-danger">
                                           <%= error.msg %>
                                       </div>
                                   <% }); %>
                                 <% } %>
                               </div>
                               <div class="form-group col-md-4">
                                   <label>Nome</label>
                                   <input type="text" class="form-control" name="nomeUsuario" id="nomeUsuario" placeholder="Digite o nome completo">
                               </div>
                               <div class="form-group col-md-4">
                                   <label>E-mail</label>
                                   <input type="email" class="form-control" name="emailUsuario" id="emailUsuario" placeholder="Digite o e-mail">
                               </div>
                               <div class="form-group col-md-4">
                                 <label>Data de Nascimento</label>
                                 <input type="date" class="form-control" name="dataNascimentoUsuario" id="dataNascimentoUsuario">
                               </div>
                               <div class="form-group col-md-4">
                                 <label>Senha</label>
                                 <input type="password" class="form-control" name="senhaUsuario" id="senhaUsuario" placeholder="********">
                               </div>
                               <div class="form-group col-md-4">
                                 <label>Repetir a sua senha</label>
                                 <input type="password" class="form-control" name="senha2Usuario" id="senha2Usuario" placeholder="********">
                               </div>
                               <div class="form-group col-md-4">
                                 <!--<label>Novo-campo</label>
                                 <input type="password" class="form-control" name="senha2Usuario" placeholder="********" required>
                                 -->
                               </div>
                               <div class="form-group col-md-12" id="btn-reservar">
                                 <a href="/admin/usuarios" class="btn btn-primary">Voltar</a>  
                                 <button type="submit" class="btn btn-success">Cadastrar</button>  
                               </div>
                             </form>
                        </div>
                    </div>
                </div>        
             </selection>
            <%- include('../../partials/footerAdmin.ejs'); %>
          </div>
        </div>
    </div>
  </body>